// Facebook
// https://developers.facebook.com/docs/opengraph/creating-object-types/#properties
meta(property='og:url', content=url)
meta(property='og:title', content=title)
meta(property='og:type', content='website')
meta(property='og:locale', content=facebook.locale)
meta(property='og:description', content=description)
meta(property='og:site_name', content=title)

// Twitter
// https://dev.twitter.com/docs/cards/markup-reference
meta(name='twitter:card', content='summary')
meta(name='twitter:title', content=title)
meta(name='twitter:description', content=description)
meta(name='twitter:creator', content=twitter.creator)
